<app-toolbar></app-toolbar>

<div class="container">
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="openNewTaskDialog()">
      New Task
    </button>
  </div>

  <div class="pending-container">
    <h2>What Needs to be Done...</h2>
    <mat-selection-list #pendingTasks>
      <mat-list-option *ngFor="let task of tasks">
        <mat-card>
          <mat-card-title>
            {{ task.title }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ task.description }}
          </mat-card-subtitle>
        </mat-card>
      </mat-list-option>
    </mat-selection-list>
    <p class="selected-text">
      Selected to Mark as Done:
      {{ pendingTasks.selectedOptions.selected.length }}
    </p>
  </div>
</div>
