.container {
  display: flex;
  flex-direction: column;
}

.title-text {
  font-weight: bold;
  font-size: large;
}

.button-container {
  padding-top: 10px;
  padding-right: 10px;
  float: right;
  text-align: right;
}

.pending-container,
.done-container {
  padding-left: 15px;
}

.selected-text {
  padding-top: 10px;
  padding-left: 15px;
  font-weight: bold;
  font-size: medium;
}

.mat-list-item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.mat-card {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 4px;
}

.mat-card-title {
  padding: 15px;
}

.mat-card-subtitle {
  padding-left: 15px;
  padding-bottom: 10px;
}

.mat-card-content {
  padding-left: 12px;
  padding-bottom: 15px;
}

.mat-list-option {
  height: 100%;
}

.mat-divider {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.done-task {
  margin-top: 50px;
  margin-bottom: 120px;
}

.done-card {
  margin-right: 30px;
}
