<app-toolbar></app-toolbar>

<div class="container">
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="openNewTaskDialog()">
      New Task
    </button>
  </div>

  <div class="pending-container">
    <h2 class="title-text">What Needs to be Done...</h2>
    <mat-selection-list #matPendingTasks [(ngModel)]="selectedTasks">
      <mat-list-option *ngFor="let task of pendingTasks" [value]="task">
        <mat-card>
          <mat-card-title-group>
            <mat-card-title>
              {{ task.title }}
              <button
                class="edit-button"
                mat-mini-fab
                (click)="editTask($event, task.code)"
              >
                <mat-icon svgIcon="edit"></mat-icon>
              </button>

              <button
                class="delete-button"
                mat-mini-fab
                (click)="editTask($event, task.code)"
              >
                <mat-icon svgIcon="delete"></mat-icon>
              </button>
            </mat-card-title>
            <mat-card-subtitle>
              {{ task.description }}
            </mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content>
            <mat-chip-list>
              <mat-chip selected color="primary">
                Started: {{ task.start_date }}
              </mat-chip>
              <mat-chip selected color="accent"
                >To be Done: {{ task.due_date }}</mat-chip
              >
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </mat-list-option>
    </mat-selection-list>
    <p class="selected-text">
      Selected:{{ matPendingTasks.selectedOptions.selected.length }}
    </p>
    <button
      class="mark-button"
      mat-raised-button
      color="warn"
      (click)="markAsDone()"
    >
      Mark as Done
    </button>
  </div>
</div>
<mat-divider></mat-divider>
<div class="done-container">
  <h2 class="done-text">What is Already Done...</h2>
  <mat-list #matDoneTasks>
    <mat-list-item class="done-task" *ngFor="let task of doneTasks">
      <mat-card class="done-card">
        <mat-card-title-group>
          <mat-card-title>
            {{ task.title }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ task.description }}
          </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          <mat-chip-list>
            <mat-chip> Started: {{ task.start_date }} </mat-chip>
            <mat-chip>To be Done: {{ task.due_date }}</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </mat-list-item>
  </mat-list>
</div>
