.container {
  margin-top: 5%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.title {
  white-space: nowrap;
  word-spacing: 3px;
}