<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="toggleNavBar()">
        <mat-icon svgIcon="home" [ngStyle]="{ color: 'black' }"> </mat-icon>
        <span class="text-container">Home</span>
      </a>

      <a mat-list-item routerLink="/login" (click)="toggleNavBar()">
        <mat-icon svgIcon="login" [ngStyle]="{ color: 'black' }"> </mat-icon>
        <span class="text-container">Log In</span>
      </a>

      <a mat-list-item routerLink="/signup" (click)="toggleNavBar()">
        <mat-icon svgIcon="sign-up" [ngStyle]="{ color: 'black' }"> </mat-icon>
        <span class="text-container">Sign Up</span>
      </a>

      <a mat-list-item routerLink="/dashboard" (click)="toggleNavBar()">
        <mat-icon
          class="dashboard-icon"
          svgIcon="dashboard"
          [ngStyle]="{ color: 'black' }"
        >
        </mat-icon>
        <span class="text-container">Tasks</span>
      </a>
      <a mat-list-item (click)="signOut()">
        <mat-icon
          class="signout-icon"
          svgIcon="sign-out"
          [ngStyle]="{ color: 'black' }"
        >
        </mat-icon>
        <span class="text-container">Sign Out</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
