<div class="form-container mat-elevation-z5">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h1>Login to Your Account</h1>
    
        <mat-form-field>
          <input matInput placeholder="Email Address" formControlName="email" />
        </mat-form-field>
    
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" type="password" />
        </mat-form-field>

        <div class="center margin-top">

          <button mat-raised-button color="primary" type="submit">
            Login
          </button>

        </div>
        
        <span class="center margin-top">New to Tasko? <a class="sign-up-link" routerLink="signup">Sign Up!</a></span>

      </form>
</div>