<div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h2>Login to your account</h2>
    
        <div class="input-parent">
          <label>Email</label>
          <input formControlName="email" type="text">
        </div>
    
        <div class="input-parent">
          <label>Password</label>
          <input formControlName="password" type="password">
        </div>

        <div class="input-parent">
          <label>
            
            Don't you have an account? 
            
            <a routerLink="/signup">Sign up!</a>

          </label>
        </div>
    
        <button type="submit">Submit</button>
      </form>
</div>