@import "~@angular/material/prebuilt-themes/indigo-pink.css";



@font-face {
    font-family: LieraSans;
    src: url('assets/fonts/LieraSans-Regular.ttf');
}

@font-face {
    font-family: LieraSansLight;
    src: url('assets/fonts/LieraSans-Light.ttf');
}
/* You can add global styles to this file, and also import other style files */


// NOTE: From `2.0.0-beta.10`, you can now pass the typography via the mat-core() mixin:
@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'LieraSansLight'
);
@include mat-core($custom-typography);

html, body { height: 100%; }
body { margin: 0; font-family: LieraSans}