<div class="form-container">
    <form>
        <h2>Login to your account</h2>
    
        <div class="input-parent">
          <label>Email</label>
          <input type="text">
        </div>
    
        <div class="input-parent">
          <label>Password</label>
          <input type="password">
        </div>

        <div class="input-parent">
          <label>
            
            Don't you have an account? 
            
            <a routerLink="/signup">Sign up!</a>

          </label>
        </div>
    
        <button>Submit</button>
      </form>
</div>